@import "tailwindcss";

@theme {
  --color-brand-plum: #241b35;
  --color-brand-surface: #382a4f;
  --color-brand-lilac: #c2a3ff;
  --color-brand-mauve: #8d75b3;
  --color-brand-purple: #5e4882;
}

@layer base {

  html,
  body {
    margin: 0;
    padding: 0;
    background-color: var(--brand-plum);
  }
}

:root {
  --brand-plum: #241b35;
  --brand-surface: #382a4f;
  --brand-lilac: #c2a3ff;
  --brand-mauve: #8d75b3;
  --brand-input: #2e2342;
  --brand-purple: #5e4882;
}

/* CSS */
.button-1 {
  appearance: none;
  background-color: var(--brand-lilac);
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.button-1:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.button-1:hover {
  box-shadow: 0 0 25px rgba(194, 163, 255, 0.6);
  transform: translateY(-3px) scale(1.02);
}

.button-1:active {
  box-shadow: none;
  transform: translateY(0) scale(1);
}

.group {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: 200px;
}

.input {
  width: 100%;
  height: 45px;
  line-height: 30px;
  padding: 0 1rem;
  padding-left: 2rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: var(--brand-plum);
  color: #ffffff;
  transition: .5s ease;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type=number] {
  -moz-appearance: textfield;
}

.input::placeholder {
  color: #94a3b8;
}

.input:focus,
input:hover {
  outline: none;
  border-color: var(--brand-plum);
  background-color: var(--brand-input);
  box-shadow: 0 0 0 5px var(--brand-mauve);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--brand-mauve);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--brand-lilac);
}
